.qodo
*/.qodo
*/node_modules
# */*/node_modules

venv
*/venv
*/__pycache__
*/.angular
*/.cache
*/.idea
*/.vs
*/.git
*/.gitignore
*/.gitattributes
*/.gitmodules
*/.gitkeep
*/.gitlab-ci.yml
*/.gitlab
*/.github
*/.gitignore
*/.gitattributes
*/.gitmodules
*/.gitkeep
*/.gitlab-ci.yml
*/.gitlab
*/.github
*/.hg
*/.hgignore
*/.hgtags
*/.hgsub
*/.hgsubstate
*/.hgignore
*/.hgtags
*/.hgsub
*/.hgsubstate
*/.svn
*/.svnignore
*/.svn
*/.svnignore
*/.bzr
*/.bzrignore
*/.bzr
*/.bzrignore